* {
  box-sizing: border-box;
}

.wrapper {}

.wrapper-holder {
}

.title {
  font-size: 38px;
  line-height: 1.24;
  margin: 0 0 14px;
}

.form-order {
  max-width: 660px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  border: 3px solid #7f8c8d;
  border-radius: 5px;
  transition: all 0.9s ease-in-out;
  overflow: hidden;
  max-height: 856px;
  height: auto;
}

.is-none {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-height: 0;
  padding: 0;
  border: none;
}

.form-order__holder {
  padding-bottom: 16px;
}

.size-block,
.ingredients-block {
  display: flex;
  flex-direction: column;
}

.size-label,
.ingredients-label {
  margin-bottom: 14px;
  font-size: 24px;
  cursor: pointer;
}

.size-label:last-child {
  margin-bottom: 0;
}

.ingredients-label:last-child {
  margin-bottom: 0;
}

.size-input,
.ingredients-input {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.btn-order {
  font-size: 24px;
  padding: 8px 12px;
  border: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  min-width: 120px;
  cursor: pointer;
  background: transparent;
}

.info-block {
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  margin: 8px 0;
  display: none;
}

.is-warning {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  display: block;
}

.rate-block {
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: 0.7s ease-in-out;
}

.rate-block.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.rate-block h3 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.rate-buttons {}

.btn-rate {
  width: 100px;
  height: 38px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #3498db;
  position: relative;
  cursor: pointer;
  margin: 0 16px;
}

.btn-rate span{
  display: block;
  text-align: right;
}

.btn-rate.like:after {
  content: '';
  display: block;
  background-image: url(./img/like.svg);
  background-position: center;
  background-size: auto;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
}

.btn-rate.dislike:after {
  content: '';
  display: block;
  background-image: url(./img/dislike.svg);
  background-position: center;
  background-size: auto;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
}